---
http_interactions:
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:albuquerque/salaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/slug:albuquerque/salaries/"}},"salaries":[{"job":{"id":"ACCOUNT-MANAGER","title":"Account
        Manager"},"salary_percentiles":{"percentile_25":36635.7952984741,"percentile_50":45868.46937123265,"percentile_75":57427.89163764481}},{"job":{"id":"ACCOUNTANT","title":"Accountant"},"salary_percentiles":{"percentile_25":34741.844696627646,"percentile_50":41259.8258730967,"percentile_75":49000.65744763136}},{"job":{"id":"ADMINISTRATIVE-ASSISTANT","title":"Administrative
        Assistant"},"salary_percentiles":{"percentile_25":21111.963190859267,"percentile_50":25425.103681938715,"percentile_75":30619.41191320462}},{"job":{"id":"ARCHITECT","title":"Architect"},"salary_percentiles":{"percentile_25":39519.0575[...]
